[Unit]
Description=Timezone Updater Daemon

[Service]
User=localtimed
Group=localtimed

Nice=10
PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

ExecStart=/usr/bin/localtimed

[Install]
WantedBy=default.target
