[Unit]
Description=Mailbox synchronization service

[Service]
User=tzupdated
Group=tzupdated

Nice=10
PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

ExecStart=/usr/bin/tzupdated

[Install]
WantedBy=default.target
